.item {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    border: 5px solid blue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    animation: fadeIn 2s infinite linear ;
}

@keyframes fadeIn {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}